<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico"><!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/offline/bootstrap-multiselect.css">
  <link rel="stylesheet" type="text/css" href="/css/site-201605121421.css">

</head>
<body class='{% block bodyClass %}{% endblock %}'>   
    {% block content %}{% endblock %}
    <script src="/offline/jquery.min.js"></script>
    <script src="/offline/bootstrap.min.js"></script>
    {% block javascriptFiles %}{% endblock %}
    <script>
      {% block javascript %}{% endblock %}
    </script>
  </body>
</html>
