/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**

--------------------
TABLE OF CONTENTS
--------------------
Index
--------------------
01 FONT SIZES
02 FONT FAMILY
03 FONT WEIGHT
04 COLORS
05 THEME VARIABLES
*/
/**
*/
/* line 9, ../../source/scss/_core.scss */
:root {
  font-size: 16px;
  font-family: "Noto Sans", serif;
}

/* line 14, ../../source/scss/_core.scss */
.container {
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 18, ../../source/scss/_core.scss */
.cta-wrapper {
  transition: all 1s;
  display: block;
  min-height: 200px;
  text-align: center;
}

/* line 25, ../../source/scss/_core.scss */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* line 31, ../../source/scss/_core.scss */
div,
section,
input,
textarea,
fieldset {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 40, ../../source/scss/_core.scss */
html {
  overflow-x: hidden;
  font-size: 100%;
}

/* line 45, ../../source/scss/_core.scss */
body {
  font-family: "Noto Sans", serif;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}

/* line 53, ../../source/scss/_core.scss */
ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0px;
}

/* line 59, ../../source/scss/_core.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans", serif;
  color: inherit;
  margin: 0 0 0.5em;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

/* line 71, ../../source/scss/_core.scss */
h1 {
  font-size: 2.25rem;
}

/* line 75, ../../source/scss/_core.scss */
h2 {
  font-size: 2.25rem;
}

/* line 79, ../../source/scss/_core.scss */
h3 {
  font-size: 2.25rem;
}

/* line 83, ../../source/scss/_core.scss */
a {
  text-decoration: none;
}

/* line 87, ../../source/scss/_core.scss */
p {
  font-size: 1em;
  margin: 0 0 1em;
  line-height: 1.625em;
  color: #3d3d3d;
}

/* line 94, ../../source/scss/_core.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 99, ../../source/scss/_core.scss */
::-webkit-input-placeholder {
  font-style: italic;
  font-family: "Noto Sans", serif;
}

/* line 104, ../../source/scss/_core.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  font-family: "Noto Sans", serif;
}

/* line 110, ../../source/scss/_core.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  font-family: "Noto Sans", serif;
}

/* line 116, ../../source/scss/_core.scss */
:-ms-input-placeholder {
  font-style: italic;
  font-family: "Noto Sans", serif;
}

/* line 121, ../../source/scss/_core.scss */
.clear {
  clear: both;
  overflow: auto;
}

/* line 126, ../../source/scss/_core.scss */
superscript {
  font-size: 0.6em;
  display: inline-block;
  vertical-align: top;
}

/* line 136, ../../source/scss/_core.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* line 142, ../../source/scss/_core.scss */
.clearfix:after {
  visibility: hidden;
}

/* line 147, ../../source/scss/_core.scss */
.text-right {
  text-align: right;
}

/* line 150, ../../source/scss/_core.scss */
.text-center {
  text-align: center;
}

/* line 153, ../../source/scss/_core.scss */
.text-left {
  text-align: left;
}

/* line 156, ../../source/scss/_core.scss */
.text-justify {
  text-align: justify;
}

/* line 168, ../../source/scss/_core.scss */
.button-primary {
  background-color: #00A7A6;
  color: white;
  border: 1px solid #00A7A6;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 52, ../../source/scss/_mixins.scss */
.button-primary:hover {
  background-color: white;
  color: #00A7A6;
  border: 1px solid #00A7A6;
}

/* line 1, ../../source/scss/layouts/_login.scss */
body.login {
  background: url('/images/backgrounds/surf.jpg?1476144577') 50% 50% no-repeat;
  background-size: cover;
}
/* line 5, ../../source/scss/layouts/_login.scss */
body.login .full-page {
  min-height: 1000px;
}
/* line 7, ../../source/scss/layouts/_login.scss */
body.login .full-page .login-form {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
}

/* line 1, ../../source/scss/layouts/_setup.scss */
body.setup {
  background: url('/images/backgrounds/surf.jpg?1476144577') 50% 50% no-repeat;
  background-size: cover;
}
/* line 5, ../../source/scss/layouts/_setup.scss */
body.setup .full-page {
  height: 100%;
}
/* line 7, ../../source/scss/layouts/_setup.scss */
body.setup .full-page .login-form {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
}
